<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>User info</h2>

      <%= form_with model: @user do |f| %>

        <div class="field">
          <%= f.label :Name %><br>
          <%= f.text_field :name, id: :user_name %>
        </div>

        <div class="field">
          <%= f.label :Image %><br>
          <%= f.file_field :profile_image, id: :user_profile_image %>
        </div>

        <div class="field">
          <%= f.label :Introduction %><br>
          <%= f.text_area :introduction, id: :user_introduction %>
        </div>

        <div class="actions">
          <button type="button" class="btn btn-secondary">Update User</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


