
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>

  <table>
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
       <th>introduction</th>
       <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>

  <div class="row">

      <%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog text-dark"></i>
      <% end %>


  </div>


  <h2>New book</h2>
  <%= form_with model: @book_new, method: :post do |f| %>

    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :opinion %><br>
      <%= f.text_area :body %>
    </div>

    <div>
      <%= f.submit 'Create Book', class:"btn btn-success" %>
    </div>

  <% end %>
