<h1>Editing Book</h1>

<%= form_with model: @post do |f| %>

  <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= f.label :Opinion %>
    <%= f.text_area :body, id: :post_body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', book_path %> |
<%= link_to 'Back', books_path %>
