<main>



<h2>User info</h2>
  <%= image_tag 'sample-author1.jpg' %>
  <table>
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    </tbody>
  </table>

<h2>New book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>

    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :opinion %><br>
      <%= f.text_area :body %>
    </div>

    <div>
     <%= link_to 'Create Book', books_path %>
    </div>

   <% end %>
</main>

