<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta neme="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/4138dbd88f.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Bookers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>
        <li class="nav-link">
          <%= link_to user_path(current_user) do %>
            <p class="text-light bg-dark"><i class="fas fa-home"></i>Home</p>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to users_path do %>
            <p class="text-light bg-dark"><i class="fas fa-users"></i>Users</p>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to books_path do %>
            <p class="text-light bg-dark"><i class="fas fa-book-open"></i>Books</p>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to destroy_user_session_path, method: :delete do %>
           <p class="text-light bg-dark"><i class="fas fa-sign-out-alt"></i>Log out</p>
          <% end %>
        </li>
      <% else %>
        <li class="nav-link">
          <%= link_to root_path do %>
            <p class="text-light bg-dark"><i class="fas fa-home"></i>Home</p>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to home_about_path do %>
          <p class="text-light bg-dark"><i class="fas fa-link"></i>About</p>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to new_user_registration_path do %>
          <p class="text-light bg-dark"><i class="fas fa-user-plus"></i>Sign up</p>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to new_user_session_path do %>
          <p class="text-light bg-dark"><i class="fas fa-sign-in-alt"></i>Log in</p>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</html>
